.herosec{
    width: 100%;
    margin: auto;
    height: 30rem;
    background: linear-gradient(35deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/panel1.jpg');
    background-position: center;
    background-size: cover;
}



.action_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(35deg, #f85606,#aa5023);
    padding: 0.7rem 1.4rem;
    color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
}