@media all{     
    body {  
      font:inherit;
      font-size:100%;
      color:var(--wd-text-color);
      font-weight:var(--wd-text-font-weight);
      font-style:var(--wd-text-font-style);
      font-family:sans-serif;
      line-height:1;
    }  
  }  
  body { 
  /* CSS Variables that may have been missed get put on body */ 
      --list-mb:  20px;  
      --li-mb:  10px;  
      --li-pl:  17px; 
  } 
  
  @media all{ 
    * { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
    } 
  
    div { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    body { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    body { 
      margin: 0; 
      background-color: #fff; 
      color: var(--wd-text-color); 
      text-rendering: optimizeLegibility; 
      font-weight: var(--wd-text-font-weight); 
      font-style: var(--wd-text-font-style); 
      font-size: var(--wd-text-font-size); 
      font-family: var(--wd-text-font); 
      -webkit-font-smoothing: antialiased; 
      -moz-osx-font-smoothing: grayscale; 
      line-height: var(--wd-text-line-height); 
      --wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h) + var(--wd-header-bottom-h)); 
      --wd-header-sticky-h: calc(var(--wd-top-bar-sticky-h) + var(--wd-header-general-sticky-h) + var(--wd-header-bottom-sticky-h) + var(--wd-header-clone-h));
    } 
  
    body { 
      overflow: clip;
    } 
  
    html { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    html { 
      line-height: 1; 
      -webkit-text-size-adjust: 100%; 
      -webkit-tap-highlight-color: transparent; 
      font-family: sans-serif; 
      overflow-x: hidden;
    } 
  
    :root { 
      --wd-text-line-height: 1.6; 
      --wd-main-bgcolor: #fff; 
      --wd-tags-mb: 20px; 
      --wd-block-spacing: 20px; 
      --wd-sticky-nav-w: .001px; 
    } 
  
    :root { 
      --wd-top-bar-h: 0.001px; 
      --wd-top-bar-sticky-h: 0.001px; 
      --wd-header-general-h: 80px; 
      --wd-header-general-sticky-h: 0.001px; 
      --wd-header-bottom-h: 60px; 
      --wd-header-bottom-sticky-h: 60px; 
      --wd-header-clone-h: 0.001px;
    } 
  
    :root { 
      --wd-text-font: "Open Sans", Arial, Helvetica, sans-serif; 
      --wd-text-font-weight: 400; 
      --wd-text-color: rgb(0,0,0); 
      --wd-text-font-size: 15px;
    } 
  
    :root { 
      --wd-title-font: "Lexend Deca", Arial, Helvetica, sans-serif; 
      --wd-title-font-weight: 500; 
      --wd-title-color: #242424;
    } 
  
    :root { 
      --wd-link-color: #333333; 
      --wd-link-color-hover: #242424;
    } 
  
    .main-page-wrapper { 
      margin-top: -40px; 
      padding-top: 40px; 
      min-height: 50vh; 
      background-color: var(--wd-main-bgcolor);
    } 
  
    .main-page-wrapper  { 
      background-color: rgb(246,246,246); 
      background-image: none;
    } 
  
    *,:before,:after { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
    } 
  
    .container { 
      width: 100%; 
      padding-right: 15px; 
      padding-left: 15px; 
      margin-right: auto; 
      margin-left: auto;
    } 
  
    .container { 
      max-width: 1400px;
    } 
  
    .row { 
      display: flex; 
      flex-wrap: wrap; 
      margin-right: -15px; 
      margin-left: -15px;
    } 
  
    .align-items-start { 
      align-items: flex-start!important;
    } 
  
    .col-12,.col-lg-12,.col-md-12 { 
      position: relative; 
      width: 100%; 
      min-height: 1px; 
      padding-right: 15px; 
      padding-left: 15px;
    } 
  
    .col-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  @media (min-width: 769px){ 
    .col-md-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  @media (min-width: 1025px){ 
    .col-lg-12 { 
      flex: 0 0 100%; 
      max-width: 100%;
    } 
  }     
  
  @media all{ 
    .site-content { 
      margin-bottom: 40px;
    } 
  
    article { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    article { 
      display: block;
    } 
  
    .entry-content { 
      counter-reset: footnotes;
    } 
  
    h2 { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    h2 { 
      font-size: 24px;
    } 
  
    h2 { 
      display: block; 
      margin-bottom: var(--wd-tags-mb); 
      color: var(--wd-title-color); 
      text-transform: var(--wd-title-transform); 
      font-weight: var(--wd-title-font-weight); 
      font-style: var(--wd-title-font-style); 
      font-family: var(--wd-title-font); 
      line-height: 1.4;
    } 
  
    .entry-content > [class*="wp-block"]  { 
      margin-bottom: var(--wd-block-spacing);
    } 
  
    p { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    p { 
      margin-bottom: var(--wd-tags-mb);
    } 
  
    ol { 
      box-sizing: border-box;
    } 
  
    ol { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    ol { 
      list-style: none; 
      margin-bottom: var(--list-mb); 
      padding-left: var(--li-pl); 
      --list-mb: 20px; 
      --li-mb: 10px; 
      --li-pl: 17px;
    } 
  
    ol { 
      list-style: decimal;
    } 
  
    .entry-content > [class*="wp-block"]:last-child  { 
      margin-bottom: 0;
    } 
  
    a { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    a { 
      touch-action: manipulation;
    } 
  
    a { 
      color: var(--wd-link-color); 
      text-decoration: none; 
      transition: all .25s ease;
    } 
  
    a:is(:hover, :focus, :active) { 
      outline: none; 
      text-decoration: none;
    } 
  
    a:hover { 
      color: var(--wd-link-color-hover);
    } 
  
    li { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    li { 
      margin-bottom: var(--li-mb);
    } 
  
    li:last-child { 
      margin-bottom: 0;
    } 
  
    strong { 
      margin: 0; 
      padding: 0; 
      border: 0; 
      vertical-align: baseline; 
      font: inherit; 
      font-size: 100%;
    } 
  
    strong { 
      font-weight: 600;
    } 
  }     
  
  
  